P {
	FONT-SIZE: 12px; LINE-HEIGHT: 130%
}
INPUT {
	FONT-SIZE: 12px; FONT-FAMILY: "Arial", "宋体"
}
INPUT {
	PADDING-TOP: 3px
}
.log {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #7f9db9 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 20px
}
.sinput {
	BORDER-RIGHT: 1px ridge; BORDER-TOP: #ffffff 1px ridge; BORDER-LEFT: #ffffff 1px ridge; BORDER-BOTTOM: 1px ridge; BACKGROUND-COLOR: #cccccc
}
A:link {
	COLOR: #5e5e5e; TEXT-DECORATION: none
}
A:visited {
	COLOR: #5e5e5e; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
TD {
	FONT-SIZE: 9pt; LINE-HEIGHT: 150%
}
A:active {
	COLOR: #ffff00; TEXT-DECORATION: underline
}
SELECT {
	FONT-SIZE: 12px; FONT-FAMILY: "Arial", "宋体"
}
.p1 {
	FONT-SIZE: 12px; FONT-FAMILY: "Arial", "宋体"
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: "Arial", "宋体"
}
DIV {
	FONT-SIZE: 12px; LINE-HEIGHT: 130%
}
.log1 {
	BORDER-RIGHT: #7f9db9 1px solid; BORDER-TOP: #7f9db9 1px solid; FONT-SIZE: 12px; BORDER-LEFT: 1px solid; COLOR: #999999; BORDER-BOTTOM: #7f9db9 1px solid; HEIGHT: 20px
}
.hot {
	LINE-HEIGHT: 150%
}
.hot1 {
	LINE-HEIGHT: 130%
}
.borders {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.ptitle {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #333333; PADDING-TOP: 3px
}
.wtitle {
	PADDING-LEFT: 10px; FONT-SIZE: 14px; COLOR: #ffffff; PADDING-TOP: 3px
}
.p2 {
	FONT-SIZE: 12px; LINE-HEIGHT: 130%
}
.newsblue4 {
	FONT-SIZE: 14px; COLOR: #0f0cbf; LINE-HEIGHT: 23px
}
.today1 {
	FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 23px
}
BODY {
	MARGIN: 0px
}
