.reg{ font-size:12px; margin:60px; background-color:#f7f7f7; padding:10px;}
.reg li{ line-height:23px; height:23px; margin-top:10px;}
.reg li label{ width:80px; float:left; text-align:right; margin-right:10px;}
.reg li span{ color:Gray;}

.regbox{ border-top:1px solid gray; margin:20px;}
.regsub{ padding-left:120px;}