<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="AdminMaster.Master.cs" Inherits="MWebAsk.Views.Shared.AdminMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
    	<%= Html.Validation().ValidatorRegistrationScripts() /*验证控件的前提*/%>

    <asp:ContentPlaceHolder ID="head" runat="server">
		
    </asp:ContentPlaceHolder>
    <link href="/css/admin.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="leftbox">
    <ul>
    <li><%=Html.ActionLink<AdminController>(c=>c.Index(),"管理首頁")%></li>
    <li><%=Html.ActionLink<AdminController>(c=>c.CategoryList(0,0),"分类管理")%></li>
    <li><%=Html.ActionLink<HomeController>(c=>c.Index(),"網站首頁")%></li>
    </ul>
    </div>
    <div class="mainbox">
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    <%= Html.Validation().ValidatorInitializationScripts() /*验证控件的收尾*/%>

</body>
</html>
